footer {
    .footer-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 6rem 3rem;
        background-color: $ColorVeryDarkCyan;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/bg-footer-top-mobile.svg);
            background-repeat: no-repeat;
            width: 100%;
            height: 200px;
            top: -45px;
        }
        a {
            color: $ColorVeryPaleCyan;
            text-decoration: none;
            font-size: .8rem;
            text-align: left;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
        }
        .header-newsletter {
            width: 100%;
            margin-bottom: 2rem;
            .newsletter-desc {
                margin-bottom: 1rem;
                h3 {
                    font-size: 1rem;
                    color: white;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: .8rem;
                    color: white;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                }
            }
            .newsletter-form {
                margin-bottom: 2rem;
                form {
                    width: 100%;
                    @include flex(column, center);
                    align-items: flex-end;
                    gap: 2rem;
                    .form-control {
                        position: relative;
                        width: 100%;
                        input {
                            width: 100%;
                            padding: 1rem;
                            border: 1px solid #fff;
                            border-radius: .4rem;
                        }
                        &.error input {
                            border-color: $ColorLightRed;
                        }
                        small {
                            color: $ColorLightRed;
                            position: absolute;
                            bottom: -1.5rem;
                            left: 0;
                            text-align: center;
                            font-weight: 400;
                            font-size: .5rem;
                        }
                    }
                    .error {
                        small {
                            visibility: visible;
                        }
                    }
                    button {
                        width: 60%;
                        padding: 1.2rem 3rem;
                        background-color: $ColorPink;
                        color: #fff;
                        border: none;
                        border-radius: .4rem;
                        font-size: .6rem;
                        font-weight: 700;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
            }
        }
        .header-info {
            width: 100%;
            @include flex(column, center);
            align-items: flex-start;
            gap: 2rem;
            .header-logo {
                img {
                    margin-bottom: 1rem;
                }
                p {
                    color: $ColorVeryPaleCyan;
                    font-size: .7rem;
                    text-align: left;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                }
            }
            .header-contact {
                @include flex(column, center);
                align-items: flex-start;
                gap: .8rem;
                .phone {
                    &::before {
                        content: url(../images/icon-phone.svg);
                        margin-right: .7rem;
                    }
                }
                .email {
                    &::before {
                        content: url(../images/icon-email.svg);
                        margin-right: .7rem;
                    }
                }
                img {
                    width: 50%;
                }
            }
            .social-link {
                @include flex(row, center);
                align-items: flex-start;
                gap: 1rem;
                margin-top: 2rem;
                i {
                    color: white;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    footer {
        .footer-container {
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            align-items: center;
            padding: 5rem;
            &::before {
                background-image: url(../images/bg-footer-top-desktop.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 160px;
                top: -150px;
                left: 0px;
            }
            a {
                font-size: .8rem;
                text-align: left;
            }
            .header-newsletter {
                width: 90%;
                margin-bottom: 0;
                .newsletter-desc {
                    margin-bottom: 1rem;
                    h3 {
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-size: .8rem;
                        padding-right: 8.5rem;
                    }
                }
                .newsletter-form {
                    margin-bottom: 2rem;
                    form {
                        width: 100%;
                        @include flex(row, center);
                        align-items: center;
                        gap: .8rem;
                        .form-control {
                            input {
                                width: 100%;
                                padding: 1rem;
                                border-radius: .2rem;
                            }
                            small {
                                bottom: -1.5rem;
                            }
                        }
                        button {
                            width: 50%;
                            background-color: aqua;
                            padding: 1rem 3rem;
                            border-radius: .2rem;
                            font-size: .8rem;
                            margin-left: 0;
                        }
                    }
                }
            }
            .header-info {
                grid-row-start: 1;
                width: 50%;
                gap: 2rem;
                .header-logo {
                    p {
                        margin-top: .6rem;
                    }
                }
                .header-contact {
                    gap: 1rem;
                }
                .social-link {
                    gap: 2rem;
                    font-size: 2rem;
                }
            }
        }
    }
}