.stats {
    @include flex(column, space-around);
    margin-bottom: 6rem;
    gap: 2.2rem;
    h2 {
        font-size: 2rem;
        color: $ColorVeryDarkCyan;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
    p {
        font-size: .6rem;
        color: $ColorVeryDarkCyan;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    img {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 768px) {
    .stats {
        @include flex(row, space-around);
        margin-bottom: 10rem;
        gap: 2.2rem;
        h2 {
            font-size: 6rem;
        }
        p {
            font-size: 1.5rem;
        }
        img {
            width: 35px;
            height: 35px;
        }
    }
}